.container {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5rem auto 0;
  width: 875px;
}

.warning {
  color: red;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.info {
  font-size: 1.2rem;
  font-style: italic;
}

.label {
  font-size: 1.3rem;
  text-transform: lowercase;
  display: block;
  width: 200px;
}

.button {
  border: 2px solid #222;
  color: #222;
  font-size: large;
  text-transform: uppercase;
  background: white;
  padding: 0.7rem;
  border-radius: 4px;
  transition: background 0.25s ease-in-out;
}

.button:disabled {
  background: #eee;
  color: #ccc;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  background: #eee;
  cursor: pointer;
}

.input,
.button {
  outline: none;
}

.input {
  width: 200px;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: large;
}

.button {
  background: white;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.button:disabled {
  border: 1px solid #ccc;
}

.title {
  padding-bottom: 2rem;
}

.assetsList {
  list-style: none;
}