.use-cardano-wallet-provider-toaster-notification-container {
  user-select: none;
  z-index: 1000;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  font-size: 1.1rem;
  position: fixed;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  top: 2rem;
  right: 2rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.2s;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.use-cardano-wallet-provider-toaster-notification-container-open {
  opacity: 0;
  transition-delay: 0s;
}

.use-cardano-wallet-provider-toaster-notification-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.use-cardano-wallet-provider-toaster-container {
  user-select: none;
  z-index: 1000;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  font-size: 1.1rem;
  position: fixed;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  top: 2rem;
  right: -500px;
  transition: right 0.2s ease-in-out;
  width: 400px;
  text-align: left;
}

.use-cardano-wallet-provider-toaster-container-open {
  right: 2rem;
}

.use-cardano-wallet-provider-toaster-content {
  height: calc(100% - 2px);
  padding: 1rem 2rem;
  word-break: break-word;
}

.use-cardano-wallet-provider-toaster-close-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}

.use-cardano-wallet-provider-toaster-close {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.use-cardano-wallet-provider-toaster-warning {
  color: #ff0000;
}

.use-cardano-wallet-provider-toaster-warning-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.use-cardano-wallet-provider-selector-container {
  user-select: none;
  display: inline-block;
  position: relative;
}

.use-cardano-wallet-provider-selector-opener {
  display: flex;
  padding: 5px 10px;
  outline: none;
  border: 0.15rem solid #555;
  background-color: white;
  color: #222;
  font-size: 1.25rem;
  min-width: 175px;
  border-radius: 4px;
  cursor: default;
}

.use-cardano-wallet-provider-selector-opener-warning {
  border-color: red;
  color: red;
}

.use-cardano-wallet-provider-selector-opener-open {
  border-radius: 4px 4px 0 0;
}

.use-cardano-wallet-provider-selector-opener-loading {
  cursor: wait;
}

.use-cardano-wallet-provider-selector-chevron {
  transform: rotate(-180deg);
  transition: transform 0.2s;
  margin-right: 10px;
}

.use-cardano-wallet-provider-selector-chevron-open {
  transform: rotate(0deg);
}

.use-cardano-wallet-provider-selector-opener-text {
  text-align: center;
  width: 100%;
}

.use-cardano-wallet-provider-selector-opener-list {
  list-style: none;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 0;
  width: 100%;
}

.use-cardano-wallet-provider-selector-opener-list-item {
  display: flex;
  padding: 5px 10px;
  outline: none;
  border: 0.15rem solid #555;
  background-color: white;
  color: #222;
  font-size: 1.25rem;
  border-top: none;
  width: 100%;
  border-radius: none;
  border-bottom: none;
}

.use-cardano-wallet-provider-selector-opener-list-item-warning {
  border-color: red;
}

.use-cardano-wallet-provider-selector-opener-list-item-last {
  border-radius: 0 0 4px 4px;
  border-bottom: 0.15rem solid #555;
}

.use-cardano-wallet-provider-selector-opener-list-item-last-warning {
  border-color: red;
}

.use-cardano-wallet-provider-selector-opener-list-item-available {
  cursor: pointer;
}

.use-cardano-wallet-provider-selector-opener-list-item-not-installed {
  color: #ccc;
}
