/* CardanoToaster styles */

.cardano-toaster {
  position: fixed;
  z-index: 1000;
  width: 400px;

  background: white;

  user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
  font-size: 1.1rem;
  text-align: left;

  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.cardano-toaster--top {
  top: 2rem;
}

.cardano-toaster--bottom {
  bottom: 2rem;
}

.cardano-toaster--left {
  transition: left 0.2s ease-in-out;
  left: -500px;
}

.cardano-toaster--left.cardano-toaster--open {
  left: 2rem;
}

.cardano-toaster--right {
  transition: right 0.2s ease-in-out;
  right: -500px;
}

.cardano-toaster--right.cardano-toaster--open {
  right: 2rem;
}

.cardano-toaster__content {
  height: calc(100% - 2px);
  padding: 1rem 2rem;
  word-break: break-word;
  color: #333;
}

.cardano-toaster__close-button {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.cardano-toaster__warning-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* CardanoWalletSelector styles */

.cardano-wallet-selector {
  position: relative;
  z-index: 1000;
  display: inline-block;
  user-select: none;
}

.cardano-wallet-selector__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: 1px solid #555;
  background-color: white;
  color: #222;
  font-size: 1.25rem;
  min-width: 200px;
  min-height: 57px;
  border-radius: 4px;
  cursor: pointer;
  padding: 1rem 2rem;
}

.cardano-wallet-selector__button--active {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.cardano-wallet-selector__button--loading {
  cursor: wait;
}

.cardano-wallet-selector__button--warning {
  color: rgba(0, 0, 0, 0.25);
}

.cardano-wallet-selector__button__icon {
  margin: -5px 10px -5px -5px;

  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cardano-wallet-selector__button__text {
  text-align: center;
  width: 100%;
  max-height: 36px;

  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cardano-wallet-selector__button__loading-spinner {
  margin: 0 auto;
  margin-top: -12px;
  display: inline-block;
  height: 35px;

  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cardano-wallet-selector__button__loading-spinner:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 8px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7) transparent rgba(0, 0, 0, 0.7) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cardano-wallet-selector__menu {
  list-style: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: -0px 0;
  width: 100%;
}

.cardano-wallet-selector__menu__item {
  border: 1px solid #555;
  border-top: none;
  border-radius: none;
  border-bottom: none;
}

.cardano-wallet-selector__menu__item button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.cardano-wallet-selector__menu__item--current button {
  background-color: #f0f0f0;
}

.cardano-wallet-selector__menu__item--current__checkmark {
  font-style: inherit;
  font-size: 1rem;
  font-weight: bold;
}

.cardano-wallet-selector__menu__item button:disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
}

.cardano-wallet-selector__menu__item button:not(:disabled):hover {
  background-color: #f2f2f2;
}

.cardano-wallet-selector__menu__item__text {
  display: flex;
  align-items: center;
  color: #333;
}

.cardano-wallet-selector__menu__item__text__icon {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.cardano-wallet-selector__menu__item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #555;
}

.cardano-wallet-selector__menu__item:last-child button {
  border-radius: 0 0 3px 3px;
}

.cardano-wallet-selector__menu__item .cardano-wallet-selector__menu__item__disconnect {
  justify-content: center;
  justify-self: center;
}
